@model iSchoolWebApp.Models.AboutRootModel
@{
    ViewData["Title"] = Model.Title;
}

<link rel="stylesheet" href="~/css/style.css" />


<h1>@Model.About.title</h1>
<section class="about">
    <p>@Model.About.description</p>
    <p>@Model.About.quote</p>
    <p>--- @Model.About.quoteAuthor ---</p>
</section>
